<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
        <div class="main">
            <ToolBar />
            <div class="px-3 pt-2 pb-2">
                @Body
            </div>
        </div>
        <ToolbarModal />
        <NotificationBar />
    </Authorized>
</AuthorizeView>

@inherits LayoutComponentBase
    @inject NavigationManager navigationManager
        @inject IdentityAuthenticationStateProvider authStateProvider

        @functions{

            [CascadingParameter]
            Task<AuthenticationState> AuthenticationState { get; set; }

            protected override async Task OnParametersSetAsync()
            {
                if (!(await AuthenticationState).User.Identity.IsAuthenticated)
                {
                    navigationManager.NavigateTo("/login");
                }
            }
        }
