<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Nocrast</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-clock" aria-hidden="true"></span> Timer
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                <span class="oi oi-project" aria-hidden="true"></span> Projects
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tags">
                <span class="oi oi-tag" aria-hidden="true"></span> Tags
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="reports">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Reports
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                <span class="oi oi-person" aria-hidden="true"></span> Account
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="account">Profile</a>
                <a class="dropdown-item" href="account/change-password">Change password</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" @onclick="@Logout">Logout</a>
            </div>
        </li>
    </ul>
</div>

@inject IdentityAuthenticationStateProvider authStateProvider
@inject NavigationManager navigationManager

@code {

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    async Task Logout()
    {
        await authStateProvider.LogoutAsync();
        navigationManager.NavigateTo("/login");
    }
}
