<div class="top-row px-4">
    @if (IsBack)
    {
        <button type="button" class="btn mr-auto" @onclick="OnBack">
            <span class="oi oi-chevron-left" aria-hidden="true"></span>
        </button>
    }
    @if (!String.IsNullOrEmpty(Title))
    {
        <h2 class="mr-1">@Title</h2>
    }
    @if (IsAdd)
    {
        <button type="button" class="btn ml-auto" @onclick="OnAdd">
            <span class="oi oi-plus" aria-hidden="true"></span>
        </button>
    }
</div>

@inject NotificationService NotificationServ;
@inject ToolbarService ToolbarServ;
@inject ILogProvider LogProvider;

@code {

    string Title { get; set; }
    bool IsBack { get; set; }
    bool IsAdd { get; set; }

    private ILog log;

    protected async override Task OnInitializedAsync()
    {
        log = LogProvider.CreateLogger(this);
        using (var l = log.DebugScope())
        {
            ToolbarServ.ToolbarHasChanged += OnChange;
            OnChange(null, null);
        }
    }

    private void OnChange(Object sender, EventArgs e)
    {
        using (var l = log.DebugScope())
        {
            Title = ToolbarServ.Title;
            IsBack = ToolbarServ.IsBack;
            IsAdd = ToolbarServ.IsAdd;

            StateHasChanged();
        }
    }

    private void OnBack()
    {
        using (var l = log.DebugScope())
        {
            ToolbarServ.InvokeBack();
        }
    }

    private void OnAdd()
    {
        using (var l = log.DebugScope())
        {
            ToolbarServ.InvokeAdd();
        }
    }
}
