@page "/account/change-password"

<PageTitle Value="Chnage Password"></PageTitle>

<h1>Change password</h1>
<p>Loading ...</p>

@inject ToolbarService ToolbarServ

@implements IDisposable

@code {


    protected async override Task OnInitializedAsync()
    {
        ToolbarServ.Update("Change Password");
    }

    public void Dispose()
    {
        ToolbarServ.Update(null);
    }

}
