/* Timer section */

/* TODO: needed better solution to deal with colors (e,g Sass) */
.timer-text, .timer-text-title {
    color: #000000;
    font-weight: 400;
    font-size: 1rem;
}

.timer-text {
    margin-bottom: .5rem;
}

.timer-text-title {
    vertical-align: sub;
}

.timer-text-timespan, .timer-text-timespan-lg {
    font-weight: 600;
    font-size: 1.5rem;
}

.timer-text-timespan-lg {
    font-size: 3rem;
}

.timer-button, .small-timer-button {
    padding: 0px;
    color: #757575;
}

.timer-button a {
    text-decoration: none;
}


.timer-item-background {
    transition: all 0.5s;
    /*cursor: pointer;*/
}

.timer-item-background:hover {
    background: rgba(255,0,0,0.1);
}

.timer-card, .timer-card-active {
    margin-bottom: 2em !important;
}

.timer-card {
    max-width: 18rem;
    min-width: 16rem;
}

.timer-card-active {
    min-width: 87%;
    border: 1px solid #b0b0b0ff;
    border-radius: 3px;
    /*    background-color: #ffb4b4;
*/
}

.small-timer-button {
    font-size: 14px !important;
}

.timer-list-item {
    font-size: 14px !important;
}
