.bar {
    height: 21px;
    transition: fill .3s ease;
    cursor: pointer;
}

.bar text {
    color: black;
}

.chart {
    background-color: #D0E0FF;
}

.even-label {
}

@media (max-width: 800px) {

    .odd-lavel {
        visibility: hidden;
    }
}
