@page "/task/{id}"

@inject TasksService Service;

<h3>Task Details</h3>

@code {
    [Parameter]
    public string TaskId { get; set; }

    private List<TimeLogItem> TimeLog { get; set; }

    protected async override Task OnInitializedAsync()
    {
        //TimeLog = await Service.GetTimeLogItemsAsync(TaskId);
    }
}
