@page "/projects"

<input class="new-timer-edit" @bind="newProjectName" type="text" />
<button class="btn btn-primary" @onclick="AddProject">Add Project</button>

@if (Projects != null)
{
    <ul>
        @foreach (var item in Projects)
        {
            <li>
                <NavLink class="nav-link" href="@($"projects/{item.Id}")">
                    <span class="badge badge-info">
                        @item.Title
                    </span>
                </NavLink>
            </li>
        }
    </ul>
}
else
{
    <p>Loading ...</p>
}

@using System.Timers;

@inject ProjectsService Service;
@inject ILogProvider LogProvider;
@inject NotificationService NotificationServ;
@inject ToolbarService ToolbarServ;

@implements IDisposable

@code {

    private ILog log;

    private string newProjectName = "";

    private ProjectItem[] Projects;

    protected async override Task OnInitializedAsync()
    {
        log = LogProvider.CreateLogger(this);
        try
        {
            using (var scope = log.DebugScope())
            {
                ToolbarServ.Add += ShowAddProject;
                ToolbarServ.Update(null);
                NotificationServ.DataHasChanged += OnDataHasChanged;

                await RefreshData();
            }
        }
        catch (Exception ex)
        {
            log.E(ex);
        }
    }

    public void Dispose()
    {
        ToolbarServ.Add -= ShowAddProject;
        ToolbarServ.Update(null);
    }

    private void OnDataHasChanged(Object sender, EventArgs e)
    {
        using (var scope = log.DebugScope())
        {
            RefreshData();
        }
    }

    private async Task<bool> RefreshData()
    {
        Projects = await Service.GetProjectsAsync();
        StateHasChanged();

        return true;
    }

    public async void ShowAddProject(object e, EventArgs a)
    {
        await Service.AddNewProjectAsync(newProjectName, "");
    }

    public async void AddProject()
    {
        await Service.AddNewProjectAsync(newProjectName, "");
    }
}
